@use '../../assets/styles/styles' as *;

.leaders {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 80vh;
  width: 60vw;

  &__title {
    margin-bottom: 26px;
  }

  &__table {
    min-height: 350px;

    .MuiTableBody-root {
      background: #4044ed;

      .MuiTableCell-root {
        border-bottom: 2px solid #27262c;
        border-right: 2px solid #ffffff;
        color: #ffffff;

        &:last-child {
          border-right: none;
        }
      }
    }

    .MuiTableHead-root {
      .MuiTableCell-root {
        color: #999999;
        background: transparent;
        border: none;
      }
    }
  }

  &__footer {
    .MuiPagination-ul {
      button {
        background: #ffffff;
      }
    }
  }
}
