$layout_background: #27262c;
$blue_background_theme: #4044ed;
$pink_background_theme: #ED40DC;
$leaderboard_entry_for_pink_theme: #D9FD44;
$leaderboard_entry_for_dark_theme: #008000;
$logo_btn_for_dark_theme: #93dfff;
$logo_btn_for_pink_theme: #E08AFE;
$message: #ffffff;
$comment_line: #d9d9d9;
$topic_date: #808080;
$topic_username: #4efff4;
$form_title: #ffffff;
$form_line: #ffffff;
$form_background: #3a393e;
$topic_container: rgba(58, 57, 62, 0.9);
$topic_text: #ffffff;
$topic_border: #ffffff;
$forum_title: #ffffff;
$forum_text: #ffffff;
$header_text: #999999;
$forumSubPage_line: #d9d9d9;
$forumSubPage_comments: rgba(58, 57, 62, 0.35);
$forumSubPage_inputMsg: rgba(0, 0, 0, 0.95);
$inputMsg_border: #4044ed;
$error_title: #ffffff;
$error_message: #ff0000;
$error_btn_background: #93dfff;
$error_btn_text: #ffffff;
