$layout_background: #27262c;
$message: #ffffff;
$comment_line: #d9d9d9;
$topic_date: #808080;
$topic_username: #4efff4;
$form_title: #ffffff;
$form_line: #ffffff;
$form_background: #3a393e;
$topic_container: rgba(58, 57, 62, 0.9);
$topic_text: #ffffff;
$topic_border: #ffffff;
$forum_title: #ffffff;
$forum_text: #ffffff;
$header_text: #999999;
$forumSubPage_line: #d9d9d9;
$forumSubPage_comments: rgba(58, 57, 62, 0.35);
$forumSubPage_inputMsg: rgba(0, 0, 0, 0.95);
$inputMsg_border: #4044ed;
$error_title: #ffffff;
$error_message: #ff0000;
$error_btn_background: #93dfff;
$error_btn_text: #ffffff;
