@use 'colors' as *;

.date {
  height: 27px;
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $topic_date;
}

.username {
  height: 27px;
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $topic_username;
}
