@use 'colors' as *;
@use "mixin" as *;

.date {
  height: 27px;
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $topic_date;
}

.username {
  height: 27px;
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $topic_username;
}

/* use pink theme */
.pinkBackgroundTheme {
  background-color: $pink_background_theme;
}

.pinkTrianglesTheme {
  border: 5em solid transparent;
  transform: rotate(-45deg);
  opacity: 0.5;
  border-bottom: 10em solid $pink_background_theme;
}

.leaderboardEntryForPinkTheme {
  background-color: $leaderboard_entry_for_pink_theme;
}

.logoBtnForPinkTheme {
  background: $logo_btn_for_pink_theme;
  width: 76px;
  height: 76px;
  top: 61px;
  border-radius: 50%;
  position: absolute;
  right: 414px;
  transition: all 0.3s;
  transform: rotate(-90deg);
  @include flex-center($direction: 'row')
}


/*use dark theme*/
.blueBackgroundTheme {
  background-color: $blue_background_theme;
}

.blueTrianglesTheme {
  border: 5em solid transparent;
  transform: rotate(-45deg);
  opacity: 0.5;
  border-bottom: 10em solid $blue_background_theme;
}

.leaderboardEntryForDarkTheme {
  background-color: $leaderboard_entry_for_dark_theme;
}

.logoBtnForDarkTheme {
  background: $logo_btn_for_dark_theme;
  width: 76px;
  height: 76px;
  top: 61px;
  border-radius: 50%;
  position: absolute;
  right: 414px;
  transition: all 0.3s;
  transform: rotate(-90deg);
  @include flex-center($direction: 'row')
}
