@use '../../assets/styles/colors' as *;

.rules {
    width: 760px;
    height: 800px;
    background: linear-gradient(179.96deg, #4044ED 0.03%, rgba(39, 38, 44, 0) 90.63%);
    text-align: center;
    padding: 40px;

    &__title {
        font-size: 24px;
        line-height: 36px;
        color: $form_title;
    }

    &__divider {
        width: 410px;
        height: 5px;
        background: #D9D9D9;
        margin: 15px auto;
    }

    &__content {
        text-align: start;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: $message;
    }

    &_text-indent {
        text-indent: 20px;
    }
}