* {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.content-center {
  margin: auto;
  z-index: 1;
}

.title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}

a {
  color: #1976d2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.red {
  color: red;
}