* {
  margin: 0;
}

.content-center {
  margin: auto;
}

.title {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}

a {
  color: #1976d2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}