@use '../../../assets/styles/styles' as *;

.triangles {
  &__item {
    position: fixed;

    &_one {
      right: 8em;
      bottom: 2em;
    }
    &_two {
      right: 4em;
      bottom: -2em;
    }
    &_three {
      right: 0;
      bottom: -6em;
    }
  }
}
