.triangles {

  &__item {
    border: 5em solid transparent;
    border-bottom: 10em solid rgba(64, 68, 237, 0.5);
    transform: rotate(-45deg);
    opacity: 0.5;
    position: fixed;

    &_one {
      right: 8em;
      bottom: 2em;
    }
    &_two {
      right: 4em;
      bottom: -2em;
    }
    &_three {
      right: 0;
      bottom: -6em;
    }
  }
}