.profile {
  padding: 20px 0;

  &__form {
    display: flex;
    flex-direction: column;
    width: 350px;

    .MuiFormControl-root {
      margin-bottom: 7px;
    }

    a {
      line-height: 50px;
      border-bottom: 1px solid white;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
