@use '../../../../assets/colors.scss' as *;

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(44, 44, 44, 0.5);
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 623px;
  height: 518px;
  background: $form_background;
  border-radius: 25px;

  &__title {
    margin-top: 20px;
    color: $form_title;
    height: 32px;
    font-family: 'JK Abode';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
  }

  &__line {
    margin-top: 20px;
    height: 2px;
    width: 531px;
    background-color: $form_line;
  }
}