@use '../../../../assets/colors.scss' as *;
/* для импорта date и username */
@use '../../../../assets/styles.scss' as *;

.comment {
  display: flex;
  flex-flow: row nowrap;
  padding: 20px 40px;
  gap: 20px;
}

.comment__line {
  width: 100%;
  height: 2px;
  background: $comment_line;
}

.comment__box {
  display: flex;
  flex-flow: column nowrap;
}

.box__title {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.box__message {
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $message;
}