@use '../../assets/colors.scss' as *;
@use '../../assets/mixin.scss' as *;

$forum_maxWidth: 90%;
$forum_minWidth: 550px;
$forumSubPage_maxWidth: 60%;
$forumSubPage_minWidth: 550px;

.wrapper {
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.forum {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  min-width: $forum_minWidth;
  max-width: $forum_maxWidth;
}

.forum__title {
  color: $forum_title;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
  margin-top: 75px;
  text-transform: uppercase;
}

.forum__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 255px;
}

.form__topics {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.topics__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header__text {
  height: 36px;
  font-family: 'IRANSansXFaNum';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: $header_text;
}

.topicText {
  text-align: center;
  width: 75%;
}

.lastMsgText {
  text-align: center;
  width: 25%;
}

.topics__content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.forumSubPage {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  min-width: $forumSubPage_minWidth;
  max-width: $forumSubPage_maxWidth;
  align-items: flex-start;
}

.title_underline {
  text-decoration: underline;
}

.forumSubPage__topicDescription {
  margin-top: 50px;
  max-width: 679px;
  max-height: 200px;
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $forum_text;
}

.forumSubPage__info {
  margin: 20px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
}

.info__owner {
  display: flex;
  flex-flow: column nowrap;
}

.date {
  height: 27px;
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $topic_date;
}

.username {
  height: 27px;
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $topic_username;
}

.forumSubPage__line {
  height: 2px;
  width: 100%;
  background-color: $forumSubPage_line;
}

.forumSubPage__comments {
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background: $forumSubPage_comments;
}

.comments__header {
  padding: 0 10px;
  height: 72px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__msgCount {
  height: 36px;
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: $forum_title;
}

.forumSubPage__inputMsg {
  position: absolute;
  bottom: 10px;
  height: 56px;
  width: $forumSubPage_maxWidth;
  background: $forumSubPage_inputMsg;
  border: 2px solid #4044ED;
  text-align: center;
  color: $forum_text;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  &:focus {
    outline: none;
    @include hover-shadow($color: #4044ED);
  }
}